<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			openEffect	: 'none',
			closeEffect	: 'none'
		});
	});	
</script>

<div class="tutorial">
	<h2 class="tutorial">Click here to take a Rebook tutorial:</h2>
		<a class="fancybox" rel="gallery1" href="/assets/intro.png" data-fancybox-width="200" data-fancybox-height="500">
			<button class="button" class="tutorial">ReBook tutorial!</button>	
		</a>
</div>
		
<div class="hidden">			
			<a class="fancybox" rel="gallery1" href="/assets/start.png" title="Create an Account">
				<img src="/assets/start.png" alt="" />
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/signup.png" title="Sign Up">
				<img src="/assets/signup.png" alt="" />
			</a>
			<a class="fancybox" rel="gallery1" href="/assets/email.png" title="Email Verification">
				<img src="/assets/email.png" alt="" />
			</a>
			<a class="fancybox" rel="gallery1" href="/assets/searchforbooks.png" title="Search for Books">
				<img src="/assets/searchforbooks.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/addtolists.png" title="Add to Your Lists">
				<img src="/assets/addtolists.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/havelist.png" title="Your Book Lists">
				<img src="/assets/havelist.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/matches1.png" title="Matches">
				<img src="/assets/matches1.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/matches2.png" title="Matches">
				<img src="/assets/matches2.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/matches3.png" title="Matches">
				<img src="/assets/matches3.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/matches4.png" title="Matches">
				<img src="/assets/matches4.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/matches5.png" title="Matches">
				<img src="/assets/matches5.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/aproposedtrade.png" title="Proposed Trade">
				<img src="/assets/aproposedtrade.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/aproposedtradedetails1.png" title="Trade Details">
				<img src="/assets/aproposedtradedetails1.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/aproposedtradedetails2.png" title="Trade Details">
				<img src="/assets/aproposedtradedetails2.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/aproposedtradedetails3.png" title="Trade Details">
				<img src="/assets/aproposedtradedetails3.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/proposeatrade1.png" title="Propose a Trade">
				<img src="/assets/proposeatrade1.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/proposeatrade2.png" title="Write a Trade Message">
				<img src="/assets/proposeatrade2.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/tradedetails.png" title="Trade Details">
				<img src="/assets/tradedetails.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/aftertrade.png" title="Rate Your Trade">
				<img src="/assets/aftertrade.png" alt="" />	
			</a>
			
			<a class="fancybox" rel="gallery1" href="/assets/end.png" title="Congratulations">
				<img src="/assets/end.png" alt="" />	
			</a>
			
</div>