<div id="wrapper">
	<div id="main">
		<h1>About Us</h1>
		<h2>What is ReBook?</h2>

		<p>ReBook is a book trading hub which aims to make the process of locating your next book fast,
		free, and easy. Simply list the books you own, the books you need, your campus, and your schedule.
		Our awesome ReBook team will automatically propose trades for you. No money changes hands, just books for books.</p>

		<h2>Our Story</h2>
		<p>Our amazing team came together Fall Quarter 2013 at the University of Washington, in the CSE Software
		Engineering course. After creating the idea of a book trading site, our team built ReBook from the ground up.
		With a lot of coding, late nights, and coffee, our dream team of 5 made our idea into this site. We are all 
		amazed with what ReBook has become and we all hope you love it too! </p>

		<h2>Contact us at rebook@gmail.com</h2>

	</div>
</div>
