<div id="wrapper">
	<div id="main">
		<h1>Frequently Asked Questions</h1>
		
		<h2>Q: "How do I add books to my Have or Want list?"</h2>
		
		<p>A: Once you log into your account, there are multiple ways you can add books to your Have
		and Want list. <br>
		At the top of any page there is a navigation bar, click either the "Search", the "Want List", or the "Have List" link. 
		On the page following one of these links, type into the search box a Title, Author, ISBN, or subject
		of a book you want to add to your Want or Have list and click the search button.
		Once the results load, there are two buttons next to each search result. 
		Find a book you like and click either the "Add to Want List" button if it is
		a book you don't own, or click the "Add to Have List" button if you own the book
		and want to trade it.
		</p>
		
		<h2>Q: "How do I remove books to my Have or Want list?"</h2>
		
		<p>A: In the navigation bar, located at the top of any page, there are links to your personalized "Want List"
		and "Have List". Click on the list that you want to remove a book from. Once you are on one of your list pages
		there is a remove button near the picture of every book on your list. Click this remove button and we will take
		it off your list.</p>
		
		<h2>Q: "What is my Have list?"</h2>
		
		<p>A: Your Have List is used to store all of the books you currently own and want to trade on ReBook.
		With your Have List, we can find and match you with other ReBook users that want your books. To add to your
		Want List see "How do I add to my Want or Have List".</p>
		
		<h2>"What is my Want list?"</h2>
		
		<p>A: Your Want List is where you put all of the books you would love to own. We use your have books to
		find and match you with other ReBook users that have the books you want. To add to your
		Want List see "How do I add to my Want or Have List".</p>
		
		<h2>Q: "What is the difference between a trade offer, possible trade, and a pending trade?"</h2>
		
		<p>A: Once our ReBook team finds you trades, you will most likely see three different states
		of your trades: trade offers, possible trades, and pending trades. <br>
		A trade offer happens when another user on ReBook wants to trade with you. On your "My Trade" page
		the books you want that have trade offers will be highlighted in blue. If you click on a green trade,
		it will take to you a page for the book you want where all of the trades you can make for this book
		will be listed. Again in green, you will see all of the trade offers and the details, like meeting time, book
		condition, etc. Next to each......
		you will see the other users availability to trade</p>
		
		<h2>"How do I cancel a trade offer I have made?"</h2>
		
		<h2>"What do I put in a trade proposal message?"</h2>
		
		
	</div>
</div>
