<div id="wrapper">
	<div id="main">
		<h1>Frequently Asked Questions</h1>
		
		<h2>"How do I add books to my Have or Want list?"</h2>
		
		<p>Once you log into your account, there are three ways you can add books to your Have
		and Want list. <br>
		At the top of your account is a navigation bar, click either the "Search", the "Want List", or the "Have List" link. 
			On this page, type into the search box a Title, Author, ISBN, or subject
			of a book you want to add to your want or have list and press the search button
			Once the results come up, there are two buttons next to each search result. 
			Find a book you like and click either the "Add to Want List" button if it is
			a book you don't own, or click the "Add to Have List" button if you own the book
			and want to trade it.
		</p>
		
		<h2>"How do I remove books to my Have or Want list?"</h2>
		
		<h2>"What is my Have list?"</h2>
		
		<h2>"What is my Want list?"</h2>
		
		<h2>"What is the difference between a trade offer, a possible trade?"</h2>
		
		<h2>"How do I cancel a trade offer I have made?"</h2>
		
		<h2>"What do I put in a trade proposal message?"</h2>
		
		
	</div>
</div>
