<div id="wrapper">
	<div id="main">
		<h1>Frequently Asked Questions</h1>
		
		<h2>Q: "How do I add books to my Have or Want list?"</h2>
		
		<p>A: Once you log into your account, there are multiple ways you can add books to your Have
		and Want list. <br>
		At the top of any page on our site there is a navigation bar, click either the "Search", "Want List", or "Have List" link. 
		By clicking on the "search" symbol on the top right corner of the page, you can search a book in the mini search bar as well. 
		On the page following any of these links, type into the search box a Title, author name, ISBN, or subject
		of a book you want to add to your Want or Have list and click the search button.
		Once the results load, there are two buttons next to each search result. 
		Find a book you like and click either the "Add to Want List" button if it is
		a book you don't own, or click the "Add to Have List" button if you own the book
		and want to trade it. After clicking on the "Add to Have List", you are required to choose the condition that the book is in. 
		</p>
		
		<h2>Q: "How do I remove books from my Have or Want list?"</h2>
		
		<p>A: In the navigation bar, located at the top of any page, there are links to your personalized "Want List"
		and "Have List". Click on the list that you want to remove a book from. Once you are on one of your list pages
		there is a remove button near the picture of every book on your list. Click this remove button and we will take
		it off your list.</p>
		
		<h2>Q: "What is my Have list?"</h2>
		
		<p>A: Your Have List is used to store all of the books you currently own and want to trade on ReBook.
		With your Have List, we can find and match you with other ReBook users that want your books. To add a book
		to your Want List see "How do I add to my Want or Have List".</p>
		
		<h2>Q: "What is my Want list?"</h2>
		
		<p>A: Your Want List is where you put all of the books you would love to own. We use your have books to
		find and match you with other ReBook users that have the books you want. To add to your
		Want List see "How do I add to my Want or Have List".</p>
		
		<h2>Q: "What is the difference between a trade offer, possible trade, and a pending trade?"</h2>
		
		<p>A: Once our ReBook team finds you trades, you will most likely see three different states
		of your trades: trade offers, possible trades, and pending trades. You can see these trades on
		your "My Trades" page. For each of your Want list books that we have found a match for, 
		you will see one of the three possible trades listed on your Trade Matches page</p>
		
		<p>Trade Offer: <br> 
		A trade offer happens when another user on ReBook wants to trade with you. On your "My Trades" page,
		the books you want that have trade offers will be highlighted in green. If you click on a green book,
		it will take you to a page that shows you details about all of the trades you can make for a book
		you want. Again in green, you will see all of the trade offers and the details, like meeting time, book
		condition, etc, that the other user has provided. Next to each of the trade offers are two buttons. One
		is an "Accept Trade" button. Click this button if you want to proceed with that trade.
		If the other users schedule does not quite work for you, you can click the button labelled
		"Propose Different Time/Location". From there you can notify the other user that this time does not work for 
		you." There might be other possible trades listed on this page as well. If you do not like any of the 
		proposed trades from other users, you can select one of these trades instead.</p>
		
		
		<p>Possible Trades: <br>
		Possible trades are matches that our ReBook team has found for you, but neither you nor the owner of the book
		you want have taken action on the trade(i.e. neither has made a trade offer). On your "My Trades" page, 
		these trades will be highlighted in blue. If you find a trade you like, simply click the "Propose Trade" button
		under the appropriate book, and we will prompt you to send a message to that user with a time and pace for the 
		trade.</p>
		
		<p>Pending trades: <br>
		On your "My Trades", a pending trade is highlighted in red. This type of trade is one where you have proposed
		a trade with another user, but you are now waiting them to accept you trade. You can see how long ago you
		proposed your trade. If you decide to cancel a pending trade, click the "Cancel This Trade" button next
		to it. </p>
	
		
		
		
		<h2>Q: "How do I cancel a trade offer I have made?"</h2>
		<p>A: To cancel a trade, go to you "My Trades" page. To get there, click the "My Trade" link in the navigation
		bar. From there you will see any of the the trade offers you have made to other users. These are called pending
		trades and they are highlighted in red. Simply click the "Cancel This Trade" button next to any trade you wish
		to cancel, and we will remove it for you.</p>
		
		<h2>Q: "What do I put in a trade proposal message?"</h2>
		<p>A: We ask that you include days and times that you can meet to make this trade. Also, include a location
		where you can go to make the trade. Here is a good example: <br>
		"Hi, I can meet at the University of Washington HUB on Tuesdays and Fridays from 4:30 to 5pm."</p>
		
	</div>
</div>
