<div id="wrapper">
	<div id="main">
		
		<h1>ReBook Terms of Service</h1>

		<h3>Last Updated: 11/14/2013</h3>

		<p>These terms of service ("Terms") apply to your access and use of ReBook (the "Service"). Please read them carefully.</p>
		
		<h2>Accepting these Terms</h2>

		<p>If you access or use the Service, it means you agree to be bound by all of the terms below. So, before you use the Service, 
		please read all of the terms. If you don't agree to all of the terms below, please do not use the Service. Also, if a term does 
		not make sense to you, please let us know by e-mailing rebookuw@gmail.com.</p>
		
		<h2>Changes to these Terms</h2>

		<p>We reserve the right to modify these Terms at any time. For instance, we may need to change these Terms if we come out with a
		new feature or for some other reason.If you continue to use the Service after the revised Terms go into effect, then you have 
		accepted the changes to these Terms.</p>
		
		<h2>Privacy Policy</h2>

		<p> We are committed to protecting your privacy. Authorized Employees within our company on a need to know
		basis only use information collected from individual customers. We constantly review our system and data to 
		ensure the best possible service to our customers. </p>
		

		<h2>Creating Accounts</h2>

		<p>When you create an account or use another service to log in to the Service, you agree to maintain the security of your password 
		and accept all risks of unauthorized access to any data or other information you provide to the Service.If you discover or suspect 
		any Service security breaches, please let us know as soon as possible.</p>

		<h2>Your Content & Conduct</h2>
		<p>Our service does not control, is not responsible for any user conduct. You are solely responsible for your interaction
		with or reliance on any user or user conduct. Our site does not consider the prices or value of books being traded on our
		site. You are responsible for what books you choose to trade. We can not be held accountable for the differences in book 
		prices that you or other users use to trade. You must perform any appropriate or judicious investigation with respect to any
		user or user conduct. You are also responsible for your own conduct on, through, or related to
		our site if you create an account. You agree to hold ReBook and its creators harmless from and against any action, damage, or
		harm arising from any activity on or through our site.</p>
		
		<p>Our Service allows you and other users to communicate with eachother. You are responsible for the content that you make available to the Service,
		including its legality, reliability, and appropriateness. When you message other users on the Service, you grant us the right and license to use, reproduce, modify, publicly perform, publicly display and 
		distribute your content on or through the Service. <br><br>

		You may not post, link and otherwise make available on or through the Service any of the following:<br>
		<ul>
		<li>Content that is libelous, defamatory, bigoted, fraudulent or deceptive;</li>
		<li>Content that is illegal or unlawful, that would otherwise create liability;</li>
		<li>Content that may infringe or violate any patent, trademark, trade secret, copyright, right of privacy, right of publicity or other intellectual or other right of any party;
		Mass or repeated promotions, political campaigning or commercial messages directed at users who do not follow you (SPAM);</li>
		<li>Private information of any third party (e.g., addresses, phone numbers, email addresses, Social Security numbers and credit card numbers); and
		Viruses, corrupted data or other harmful, disruptive or destructive files or code.</li></ul>
		<br>
		Also, you agree that you will not do any of the following in connection with the Service or other users:
		<br><br>
		<ul>
	   <li> Use the Service in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Service or that could damage, disable, overburden
	   or impair the functioning of the Service;</li>
		<li>Impersonate or post on behalf of any person or entity or otherwise misrepresent your affiliation with a person or entity;</li>
		<li>Collect any personal information about other users, or intimidate, threaten, stalk or otherwise harass other users of the Service;</li>
		<li>Create an account or post any content if you are not over 13 years of age years of age</li>  
		<li>Circumvent or attempt to circumvent any filtering, security measures, rate limits or other features designed to protect the Service,
		users of the Service, or third parties.</li>
		</ul></p>

		<h2>ReBook Materials</h2>

		<p>We put a lot of effort into creating the Service including, the logo and all designs, text, graphics, pictures, information and other content. 
		This property is owned by us or our licensors and it is protected by U.S. and international copyright laws. We grant you the right to use it.</p>
		
		<h2>Termination</h2>

		<p>If you breach any of these Terms, we have the right to suspend or disable your access to or use of the Service.</p>

		<h2>Feedback</h2>

		<p>Please let us know what you think of the Service, these Terms and, in general, ReBook. When you provide us with any feedback,
		comments or suggestions about the Service, these Terms and, in general, ReBook, you irrevocably assign to us all of your right, 
		title and interest in and to your feedback, comments and suggestions.</p>

		<h2>Questions & Contact Information</h2>

		<p>Questions or comments about the Service may be directed to us at the email address rebookuw@gmail.com.</p>

	</div>
</div>
