<h1>Needed books</h1>
<br><br>
<table>
  <tbody>
    <% @inventory_needs.each do |inventory_need| %>
      <tr>
        <td><img src="<%= inventory_need.book.thumbnail %>"></td>
        <td><%= inventory_need.book.name %></td>
        <td><%= link_to 'Remove', inventory_need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
