<h1>Owned books</h1>
<br><br>
<table>
  <tbody>
    <% @inventory_owns.each do |inventory_own| %>
      <tr>
        <td><img src="<%= inventory_own.book.thumbnail %>"></td>
        <td><%= inventory_own.book.name %></td>
        <td><%= inventory_own.condition.description %></td>
        <td><%= link_to 'Remove', inventory_own, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
