<h1>This is our temporary skeleton view<h1>
<p>The controller says: <%= @message %></p>
 
<p>
Results: <%= @result.books.length %> <br>

<% @result.books.each do |x| %>
  <img src="
  <%= x.thumbnail %>
  "><br>
  <%= x.title %><br>
<% end %>

</p>

