<% if !@locations.nil? && @locations.count != 0 %>
   <div class="results-wrapper">
      <strong>Choose a Location to Add</strong>
      <ul>
         <% @locations.each do |x| %>
            <li>
               <%= image_tag x.icon, :height => 40, :width => 40 %>
               <%= link_to x.name, x %> (<%= link_to "add", user_locations_path + "?location_id=" + x.id.to_s, :method => :post, :remote => true %>)
            </li>
         <% end#each %>
      </ul>
   </div>
<% elsif !@locations.nil? && @locations.count == 0 %>
   <div class="results-wrapper">
      <strong>Sorry, no locations matched your search. Please try again.</strong>
   </div>
<% end %>
