<div class="schedule">
  <table>
    <tr>
      <td></td>
      <% schedule.keys.each do |day| %>
      <td class="day" cellpadding="5"><%= day[0,2] %></td>
      <% end %>
    </tr>
    <% (0..47).each do |minute| %>
    <tr>
      <% if minute % 4 == 0 %>
      <td class = "hour" rowspan="4">
        <% hour = ((minute%24)/2) %>
        <% if hour == 0 %>
        <% hour = 12 %>
        <% end %>
        <% if minute > 23 %>
        <% ampm = "pm" %>
        <% else %>
        <% ampm = "am" %>
        <% end %>
        <div class="hour-div">
        <%= hour.to_s + ":00 " + ampm %>
        </div>
      </td>
      <% end %>
      <% schedule.keys.each do |day| %>
      <% if schedule[day][minute] == 0 %>
      <td class="count-0"></td>
      <% elsif schedule[day][minute] == 1 %>
      <td class="count-1"></td>
      <% elsif schedule[day][minute] == 2 %>
      <td class="count-2"></td>
      <% else schedule[day][minute] == 3 %>
      <td class="count-3"></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
