* {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS";
	font-weight: 600;
}

body {
	min-width: 980px;
}

header, #main {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

/*****************Button and Text Box Styling**********************/
/******************************************************************/
.button {
	background-color: #CCCCFF;
	border-radius: 5px;
	color: white;
	padding: 8px;
	font-size: 100%;
	font-weight: bold;
	border: none;
	
}

.text {
	padding: 5px;
	font-size: 100%;
	color: #CCCCFF;
}

/*****************ReBook Header Section with login********************/
/*********************************************************************/
header {
	
}

#wrapperheader{
	background-color: white;
	width: 100%;
}

header > img, footer img {
	margin-top: 1%;
	margin-bottom: 1%;
}

header > input {
	float: right;
}

header > .text {
	margin-top: 2%;
	width: 12%;
	margin-right: 2%;
}

header > .button {
	margin-right: 2%;
	margin-top: 2%;	
}

header > h4 {
	color: #CCCCFF;
	float: right;
	clear:right;
	margin-right: 8%;
	
}

/********************Create account section***************************/
/*********************************************************************/
#main {
	color: rgb(63, 72, 204);
}
#wrappermain {
	background-color: #EBEBEB;
}
