/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.facebox
 *= require jquery.timepicker.css
 *= require jquery-ui-1.10.3.custom.css
 *= require fancybox

 */

 * {
 	padding:0;
 	margin: 0;
 }

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

b {
	font-weight:400;
}

p {
	margin-bottom:15px;
}

h1, h2, h3 {
	font-weight:400;
	color:#3c3c3c;
}

h1 {
	font-family: 'Alice';
	font-size:3em;
	margin-bottom:20px;
}

h2 {
	margin-bottom:6px;
}

label {
	display:inline-block;
}

html, body {
	height:100%;
}

body {
	min-width: 980px;
	font-size:12.5px;
	color:#111;
	font-family: 'Open Sans';
	font-weight:300;
}

#wrapper {
	min-height: 100%;
	background-color: #f8f8f8;
}

#main {
	padding-top:20px;
	padding-bottom:48px;
	overflow:auto;
}

#wrapperheader, #main, #wrapperfooter{
	display:block;
	width: 980px;
	margin: 0 auto !important;
	position:static;
}

.hidden {
	display: none;
}

/*****************Button and Text Box Styling**********************/
/******************************************************************/
.button {
	background-color: #6897D3;
	border-radius: 5px;
	color: white;
	padding: 8px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	display:inline-block;
}

.button:hover {
	background-color:#4D7DBB;
	text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	padding: 2px 5px;
	color: #686868;
}

/*****************ReBook Header Section with login********************/
/*********************************************************************/

header {
	background-color:#fff;
}

header a {
	color:#494949;
}

header .error, 
header .success {
	margin-bottom: 0;
	padding: 5px 0;
	text-align:center;
}

header .error {
	background-color: #F8E7E7;
}

header .success {
	color:#46A00A;
	background-color:#EBFAE1;
}

#wrapperheader {
	padding: 10px 0;
	position:relative;
	height:90px;
}

header #logo {
	border: none;
}

header #logo img {
	margin-top:4px;
}

header #bookmark {
	position: absolute;
	width: 35px;
	right: 0;
	top: -20px;
	cursor:pointer;
}

/*header search bar */

header #search-bar {
	margin-right:50px;
	display:none;
	position:absolute;
	right:0;
}

header #search-bar input[type="text"] {
	height: 16px;
	padding: 2px 8px;
	font-size: 0.95em;
	width: 220px;
}

header #search-bar input[type="submit"] {
	height: 24px;
	border-radius: 0;
	padding: 0;
	width: 60px;
	background-color: #525252;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 0.95em;
	margin-left: 1px;
}

/* header login form */
header #login-form {
	float: right;
	margin-top: 20px;
	text-align:right;
}

header #login-form input[type="text"], 
header #login-form input[type="password"] {
	width: 100px;
}

header #login-form input[type="submit"] {
	margin-bottom:0;
	padding:4px 10px;
	width:56px;
}

header #login-form a {
	font-size:0.9em;
}

header #login-form .create {
	position:relative;
	right:105px;
}

header #login-form .forgot {
	position:relative;
	right:82px;
}

header h1 {
	float: right;
	margin-top: 3%;
}

header > img, footer img {
	margin-top: 1%;
	margin-bottom: 1%;
}

header > input {
	float: right;
}

header > .text {
	margin-top: 2%;
	width: 12%;
	margin-right: 2%;
}

header > .button {
	margin-right: 2%;
	margin-top: 2%;	
}

header > h4 {
	color: #CCCCFF;
	float: right;
	clear:right;
	margin-right: 8%;
	
}

/*********************Header, logged in ******************************/
/*********************************************************************/

#account-info {
	float:right;
	font-size:0.9em;
	position:absolute;
	right:85px;
	bottom:20px;
	text-align:right;
}

#account-info h1 {
  display:inline;
	float:none;
	font-size:2.5em;
	margin-bottom:0;
	text-align:right;
	color: #636363;
}

.profilepic {
	width: 25px;
	height: 25px;
	overflow: hidden;
	position:absolute;
	right:-35px;
	top:5px;
}

.pic {
	height:25px;
}

#account-info #avatartop {
	position:absolute;
	right:-50px;
	bottom:0;
	width:40px;
	height:40px;
	overflow:hidden;
}

#account-info #avatar-top img {
	width:40px;
	max-height:40px;
}

/********************Navigation bar***********************************/
/*********************************************************************/

#navbar {
	text-align: center;
	padding: 8px;
	display:inline-block;
	width:400px;
	vertical-align:bottom;
}

#navbar h2 {
	font-size:1.3em;
	margin-bottom:0;
}

#navbar a.current {
	color:#002BB3;
}

/**************************Footer Section**************************/
/******************************************************************/
footer {
	position: relative;
	margin-top: -48px;
	height: 18px;
	clear: both;
	padding:15px 0;
	background-color:#f8f8f8;
}

footer a {
	color:#585858;
}

.tutorial {
	margin: auto;
	text-align: center;
	margin-bottom: 20px;