// Place all the styles related to the Greetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0 auto;
	max-width:960px;
	background-color:#b0c4de;
}


 /***************** header styles ***********/

header h1 {
	color: #155DAC;
	font-family: 'Georgia';
	font-size: 4em;
	text-align:center;
}

body h1 {
	text-align:center;
}