// Place all the styles related to the Greetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****************Home page Info Section/Book Search Box ********************/
/******************************************************************/
#info {	
	background-image: url("/assets/home3.jpg");
	background-repeat: no-repeat;
	position: relative;
	/*width: 100%;*/
	height: 390px;
	width:980px;
	margin: 0 auto;
	background-size:100% auto;
}

/****Book Search Box*****/
#search {
	background-color: #294BA0;
	position: absolute;
	top: 65px;
	right: 90px;
	width: 370px;
	border: solid 1px white;
	padding: 30px;
	box-shadow: 3px 3px 10px -2px #525252;
	text-align:center;
}

#search h2 {
	color:#fff;
}

#search h2.left {
	text-align:left;
}

#search form {
	margin-bottom:35px;
}

#search input[type="text"] {
	width: 260px;
	font-size: 1.2em;
	padding: 8px 10px;
}

#search input[type="submit"] {
	padding: 9px 7px;
	margin-left: 6px;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color:#BABCD6;
}

#search input[type="submit"]:hover {
	background-color:#A7AAD5;
}

#search h2.tagline {
	margin-bottom:15px;
	font-size:1.3em;
}

#search a.button {
	background-color:#BABCD6;
}

#search a.button:hover {
	text-decoration:none;
	background-color:#A7AAD5;
}


/*********************Home Page How it Works Section*************************/
/******************************************************************/

#wrapperhowitworks {
	background-color:#fff;
}

#howitworks {
	text-align: center;
	padding: 50px 0;
	width:980px;
	margin: 0 auto;
}

#howitworks div {
	display: inline-block;
	width: 24%;
	vertical-align: top;
}

#howitworks .step div.thumb {
	width:100%;
	height:180px;
	text-align:center;
}

#howitworks .step h3 {
	font-family: Alice;
	font-size: 1.5em;
	height: 48px;
}

#howitworks .step p {
	width: 90%;
	margin: 0 auto;
}

/*****************Home Page Create an Account Section************************/
/******************************************************************/
#wrappercreate {
	margin-bottom: 48px;
}

#create {
	width: 100%;
	color: rgb(63, 72, 204);
	padding: 20px 0;
	text-align: center;
}

#create h1 {
	font-size:3em;
}

#create a.button {
	background-color:#BABCD6;
}

#create a.button:hover {
	text-decoration:none;
	background-color:#A7AAD5;
}
