// Place all the styles related to the Greetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****************Info Section/Book Search Box ********************/
/******************************************************************/
#info {
	
	background-image: image-url("girlbook.png");
	background-repeat: no-repeat;
	position: relative;
	/*width: 100%;*/
	height: 390px;
	width:980px;
	margin: 0 auto;
}

/****Book Search Box*****/
#search {
	background-color: rgb(63, 72, 204);
	color: white;
	position: absolute;
	top: 70px;
	right: 90px;
	width: 350px;
	height: 60px;
	border: solid 1px white;
	padding: 35px;
	box-shadow: 3px 3px 10px -2px #525252;
}

#search h2 {
	color:#fff;
}

#search input[type="text"] {
	width: 260px;
}

#search input[type="submit"] {
	padding: 4px 10px;
	margin-left:6px;
}


/****Create Account Button****/
#signup {
	position: absolute;
	text-align: center;
	top: 230px;
	right: 90px;
	width: 420px;
}

#signup h2 {
	margin-bottom:20px;
	color: rgb(63, 72, 204);
}

#signup a.button {
	background-color:#2A33B8;
}

#signup a.button:hover {
	text-decoration:none;
	background-color:#202797;
}


/*********************How it Works Section*************************/
/******************************************************************/

#wrapperhowitworks {
	background-color:#fff;
}

#howitworks {
	text-align: center;
	padding: 50px 0;
	width:980px;
	margin: 0 auto;
}

#howitworks div {
	display: inline-block;
	width: 24%;
	vertical-align: top;
}

#howitworks .step div.thumb {
	width:100%;
	height:180px;
	text-align:center;
}

#howitworks .step p {
	width: 90%;
	margin: 0 auto;
}


/*****************Create an Account Section************************/
/******************************************************************/
#wrappercreate {
	margin-bottom: 48px;
}

#create {
	width: 100%;
	color: rgb(63, 72, 204);
	padding: 20px 0;
	text-align: center;
}

#create h1 {
	font-size:3em;
}

#create > input {
	margin-top: 10px;
}

/*********footer ***************/

footer {
	background-color:#f8f8f8;
}