// Place all the styles related to the InventoryNeeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/***************Have/Want list pages*************************/
/*********************************************************************/

/******Book Styling********/

.inventory .book {
	clear: left;
	margin-bottom: 5px;	
	padding: 10px;
	overflow: hidden;
	border-bottom: 1px #CCCCFF solid;
	position:relative;
}

.inventory .book .thumbnail {
	float: left; 
	max-width:150px;
}

.inventory .book .thumbnail img {
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-right:15px;
	margin-bottom:10px;
}

.inventory .book .thumbnail p.remove {
	padding-right:15px;
}

.inventory .bookinfo {
	max-width:800px;
	display:inline-block;
}

.inventory .book h3 {
	font-size:1.5em;
}

/****Have/Want List Book Search Box*****/
.inventory #search {
	background-color: #A1C9EE;
	margin:20px 0;
	padding: 8px 8px 12px 8px;
	width: 100%;
}

.inventory #search h2 {
	padding: 10px 10px 10px 15px;
	font-size:1.1em;
}

.inventory #search form {
	padding: 0 10px 10px 15px;
}

.inventory #search input[type="text"] {
	width: 85%;
	font-size: 1.2em;
	padding: 5px 8px;
}

.inventory #search input[type="submit"] {
  float: right;
	padding: 6px 10px;
	margin-left: 6px;
	margin-right: 20px;
	text-transform: uppercase;
	font-size: 1.2em;
	background-color:#537EB4;
}

.inventory #search input[type="submit"]:hover {
	background-color:#4671A8;
}