// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login label {
	margin-bottom:6px
}

.error {
	color:#F15656;
	margin-bottom:15px;
}

.verified {
	margin-bottom:15px;
	color:#46A00A;
}