// Place all the styles related to the Trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 

#matches article {
	clear:both;
	overflow:hidden;
	margin-bottom:20px;
}

#matches article h3 {
	font-weight:bold;
	font-size:1.3em;
	color:#fff;
	background:#4093C4;
	padding:10px 15px;
	margin-bottom:12px;
}
#matches article.green  h3 {
	background: #60964C;
}

#matches article.red h3 {
	background: #CF5353;
}

#matches article.grey h3 {
	background:#8F8F8F;
}

#matches h3 span {
	font-size: 0.75em;
	text-transform: uppercase;
}

#matches article .need-details {
	max-width:145px;
	float:left;
	margin-right:15px;
}

#matches article .need-details img.bookcover {
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-bottom:5px;
}

#matches article .trade-info {
	float:left;
	width:820px;
	padding:10px 0;
	font-size:1.2em;
}

#matches article .proposed-trades {
	text-align:center;
}

#matches article .proposed-trades a {
	color: #4E9135;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
}

#matches article .possible-trades {
	position:relative;
}

#matches article .possible-trades p.no-matches {
	margin: 20px auto;
	width: 450px;
}

#matches article .possible-trades .trades {
	font-size:0.85em;
	margin-left:20px;
}

#matches article .possible-trades .trades li {
	vertical-align:top;
	display:inline-block;
	width:30%;
	margin-right:2%;
}

#matches article .possible-trades .trades li img {
	max-height: 100px;
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
}

#matches article .possible-trades .view-more {
	text-align:right;
}

#matches article .possible-trades .view-more a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	color: #2A4EA8;
}


/******************************************************************/
/******************match details page *****************************/
/******************************************************************/

#match-details {
	margin-bottom:20px;
}

#match-details h1 {
	font-size:2.3em;
}

/***** book want box ****/

#match-details .book-want {
	padding: 10px 15px;
	background: #B6D4F0;
	overflow:hidden;
	margin-bottom:20px;
}

#match-details .book-want img {
	max-width:100px;
	float: left;
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-right:15px;
	margin-top:6px;
}

#match-details .book-want .details {
	float:left;
}

#match-details .book-want h2 span {
	font-size: 0.7em;
	text-transform: uppercase;
	font-weight: bold;
}

#match-details .book-want .details p {
	display: inline-block;
	vertical-align: top;
}

/****** proposed trades *****/

#match-details .proposed-trades .trades li {
	width:48%;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	border-top: 1px solid #aaa;
	padding-top: 15px;
	margin-bottom:25px;
}

#match-details .proposed-trades .trades li:nth-child(1),
#match-details .proposed-trades .trades li:nth-child(2) {
	border-top:0;
	padding-top:0;
}

#match-details .proposed-trades .trades li:nth-child(even) {
	margin-left:3%;
}

#match-details .proposed-trades .thumbnail {
	float:left;
}

#match-details .proposed-trades .thumbnail img {
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-right:15px;
}

#match-details .proposed-trades .details {
	display:inline-block;
	margin-bottom:10px;
}

#match-details .proposed-trades .accept-trade,
#match-details .proposed-trades .counter-trade,
#match-details .proposed-trades .reject-trade {
	padding: 5px 10px;
	border-radius: 5px;
	color:#fff;
}

#match-details .proposed-trades .accept-trade {
	background-color: #5FBE5F;
	margin-right:5px;
}

#match-details .proposed-trades .counter-trade {
	background-color:#3A70B4;
	margin-right:5px;
}

#match-details .proposed-trades .reject-trade {
	background-color: #aaa;
}

#match-details .proposed-trades .accept-trade:hover {
	text-decoration:none;
	background-color:#3F8D3F;
}

#match-details .proposed-trades .counter-trade:hover {
	background-color: #345C8F;
	text-decoration: none;
}

#match-details .proposed-trades .reject-trade:hover {
	text-decoration: none;
	background-color: #868686;
}

/***** possible trades ****/

#match-details .possible-trades .trades li {
	width:48%;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	border-top: 1px solid #aaa;
	padding-top: 15px;
	margin-bottom:25px;
}

#match-details .possible-trades .trades li:nth-child(1),
#match-details .possible-trades .trades li:nth-child(2) {
	border-top:0;
	padding-top:0;
}

#match-details .possible-trades .trades li:nth-child(even) {
	margin-left:3%;
}

#match-details .possible-trades .trades li .thumbnail {
	float:left;
}

#match-details .possible-trades .trades li .thumbnail img {
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-right:15px;
}

#match-details .possible-trades .trades li .details {
	display:inline-block;
	margin-bottom:10px;
}

#match-details .possible-trades .trades li .propose-trade {
	padding: 7px 10px;
	border-radius: 5px;
	border: 1px solid #eee;
	text-decoration: none;
	background-color: #5FBE5F;
	color: #fff;
}

#match-details .possible-trades .trades li .propose-trade:hover {
	background-color:#3F8D3F;
}

/****************************************************************/
/********************Propose a Trade form ***********************/
/****************************************************************/

#propose-trade {
	width:500px;
	padding:15px;
}

#propose-trade .button {
	padding: 7px 10px;
	border-radius: 5px;
	border: 1px solid #eee;
	text-decoration: none;
	background-color: #306D27;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

#propose-trade .button:hover {
	background-color:#24661A;
}

#propose-trade label {
	width: 190px;
	padding-bottom: 5px;
}
