// Place all the styles related to the Trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 

/********************************************************/
/************ Common Button Styles **********************/
/********************************************************/

.button {
	padding: 5px 10px;
	border-radius: 5px;
	color: #fff;
	display:inline-block;
	font-weight:normal;
	font-size:13px;
}

.button:hover {
	text-decoration: none
}

.button.cancel-trade,
.button.reject-trade {
	background-color:#aaa;
}

.button.cancel-trade:hover,
.button.reject-trade:hover {
	background-color: #868686;
}

.button.counter-trade,
.button.repropose-trade {
	background-color:#3A70B4;
}

.button.counter-trade:hover,
.button.repropose-trade:hover {
	background-color: #345C8F;
}

.button.propose-trade,
.button.accept-trade {	
	background-color: #5FBE5F;
}

.button.propose-trade:hover,
.button.accept-trade:hover {
	background-color: #3F8D3F;
}

/******************************************************/
/************* My Matches Page ************************/
/******************************************************/

#matches #search input[type="text"] {
	width: 640px;
	font-size: 1.2em;
	padding: 5px 8px;
}

#matches #search input[type="submit"] {
	padding: 6px 10px;
	margin-left: 6px;
	text-transform: uppercase;
	font-size: 1.2em;
	background-color:#537EB4;
}

#matches article {
	clear:both;
	overflow:hidden;
	margin-bottom:20px;
}

#matches article h3 {
	font-weight:bold;
	font-size:1.3em;
	color:#fff;
	background:#174891;
	padding:10px 15px;
	margin-bottom:12px;
}

#matches article.green  h3 {
	background: #60964C;
}

#matches article.red h3 {
	background: #CC3E47;
}

#matches article.grey h3 {
	background:#8F8F8F;
}

#matches h3 span {
	font-size: 0.75em;
	text-transform: uppercase;
}

#matches article .need-details {
	max-width:145px;
	float:left;
	margin-right:15px;
}

#matches article .need-details img.bookcover {
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-bottom:5px;
}

#matches article .trade-info {
	float:left;
	width:820px;
	padding:10px 0;
	font-size:1.2em;
}

#matches article .pending-trades p {
	margin-bottom:8px;
}

#matches article .proposed-trades {
	text-align:left;
}

#matches article .proposed-trades a {
	color: #4E9135;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
}

#matches article .possible-trades {
	position:relative;
}

#matches article .possible-trades p.no-matches {
	margin: 20px auto;
	width: 450px;
}

#matches article .possible-trades .trades {
	font-size:0.85em;
	margin-left:20px;
}

#matches article .possible-trades .trades li {
	vertical-align:top;
	display:inline-block;
	width:30%;
	margin-right:2%;
}

#matches article .possible-trades .trades li img:not(.pic) {
	max-height: 100px;
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-bottom:5px;
}

#matches article .possible-trades .trades p {
	margin-bottom:5px;
}

#matches article .possible-trades .view-more {
	width:100%;
	text-align:right;
}

#matches article .possible-trades .view-more a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	color: #2A4EA8;
}

/******************************************************************/
/******************match details page *****************************/
/******************************************************************/

#match-details {
	margin-bottom:20px;
}

#match-details h1 {
	font-size:2.3em;
}

/***** book want box ****/

#match-details .book-want {
	padding: 10px 15px;
	background: #B6D4F0;
	overflow:hidden;
	margin-bottom:20px;
}

#match-details .book-want img {
	max-height:150px;
	max-width:100px;
	float: left;
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-right:15px;
	margin-top:6px;
}

#match-details .book-want .details {
	float:left;
}

#match-details .book-want h2 span {
	font-size: 0.7em;
	text-transform: uppercase;
	font-weight: bold;
}

#match-details .book-want .details p {
	display: inline-block;
	vertical-align: top;
}

/****** proposed trades *****/

#match-details .proposed-trades .trades li {
	width:48%;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	border-top: 1px solid #aaa;
	padding-top: 15px;
	margin-bottom:25px;
}

#match-details .proposed-trades .trades li:nth-child(1),
#match-details .proposed-trades .trades li:nth-child(2) {
	border-top:0;
	padding-top:0;
}

#match-details .proposed-trades .trades li:nth-child(even) {
	margin-left:3%;
}

#match-details .proposed-trades .thumbnail {
	float:left;
}

#match-details .proposed-trades .thumbnail img {
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-right:15px;
	max-height: 150px;
	max-width: 100px;
}

#match-details .proposed-trades .details {
	display:inline-block;
	margin-bottom:10px;
}



#match-details .proposed-trades .message {
	border-left: 1px solid #eee;
	padding-left: 8px;
	margin: 8px 15px;
}

#match-details .proposed-trades .message-wrapper {
	background-color: #FCFCFC;
	padding: 5px 12px;
	border-radius: 5px;
	margin:10px 0;
}

#match-details .proposed-trades a.show-more {
}

/***** possible trades ****/

#match-details .possible-trades .trades li {
	width:48%;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	border-top: 1px solid #aaa;
	padding-top: 15px;
	margin-bottom:25px;
}

#match-details .possible-trades .trades li:nth-child(1),
#match-details .possible-trades .trades li:nth-child(2) {
	border-top:0;
	padding-top:0;
}

#match-details .possible-trades .trades li:nth-child(even) {
	margin-left:3%;
}

#match-details .possible-trades .trades li .thumbnail {
	float:left;
}

#match-details .possible-trades .trades li .thumbnail img {
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	margin-right:15px;
	max-height: 150px;
	max-width: 100px;
}

#match-details .possible-trades .trades li .details {
	display:inline-block;
	margin-bottom:10px;
	max-width:350px;
}


/*******************************************************************/
/******************* Trade Details Page ****************************/
/*******************************************************************/

#trade-details > h2 {
	background:#60964C;
	padding:10px 15px;
	margin-bottom:0;
	color:#fff;
}

#trade-details > h2.purple {
	background:#513A6F;
}

#trade-details > h2.yellow {
	background: #E5A42E;
}

#trade-details > h2.red {
	background: #CC3E47;
}

#trade-details > h2.grey{
	background:#8F8F8F;
}

#trade-details > h2 span {
	display: inline-block;
	float: right;
	font-size: 0.8em;
	vertical-align: middle;
	line-height: 26px;
}

/***** trade details box  ****/

#trade-details .trade {
	padding: 10px 15px 20px 15px;
	overflow:hidden;
	margin-bottom:20px;
	border:1px solid #A3A3A3;
	border-top:none;
}

#trade-details .trade .details {
	display: inline-block;
	width: 32%;
	margin-right: 1%;
	vertical-align: top;
}

#trade-details .trade .details .three-way {
	border-bottom: 1px solid #ddd;
	margin-bottom:10px;
}

#trade-details .trade .details h2 {
	font-size:1.3em;
	margin-bottom: 0;
}

#trade-details .trade .details h2 span {
	font-size: 0.7em;
	text-transform: uppercase;
	font-weight: bold;
}

#trade-details .trade .details p {
	margin-bottom:10px;
}

#trade-details .trade .details .thumbnail {
	max-height:100px;
	max-width:80px;
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	display:block;
}


#trade-details .trade .feedback p {
	margin:0;
}

/****** message thread *********/

#trade-details .message-thread {
	margin-bottom:20px;
}

#trade-details .message-thread ul {
	border: 1px solid #eee;
	box-shadow: 4px 4px 7px -3px #DADADA;
	width: 973px;
}

#trade-details .message-thread ul li {
	padding:12px;
	border-bottom: 1px solid #eee;
}

#trade-details .message-thread ul li:last-child {
	border-bottom:none;
}

#trade-details .message-thread li:nth-child(even) {
	background-color: #F3F6F6;
}

#trade-details .message-thread li:nth-child(odd) {
	background-color: #FDFDFD;
}

#trade-details .message-thread h3 {
	font-size:1.1em;
}

#trade-details .message-thread h3 span {
	font-size: 0.8em;
	display: inline-block;
	float: right;
	color: #B3B3B3;
}

#trade-details .message-thread .message {
	border-left: 1px solid #eee;
	padding-left: 8px;
	margin: 8px 15px;
}

/****** action buttons *********/

#trade-details .action_links {
	padding-bottom:10px;
	margin: 30px 0;
}

/**********************************************************************************/
/****************************** My Trades Page ************************************/
/**********************************************************************************/

#my-trades h2 {
	margin-bottom:15px;
}

#my-trades h3 span {
	font-size:0.8em;
	text-transform: uppercase;
}

#my-trades article {
	clear:both;
	overflow:hidden;
	margin-bottom:20px;
}

#my-trades article h3 {
	font-weight:bold;
	font-size:1.2em;
	color:#fff;
	padding:10px 15px;
	margin-bottom:12px;
}

#my-trades article .thumbnail {
	margin-bottom:5px;
	margin-right:15px;
	float:left;
}

#my-trades article  img.bookcover {
	border: solid #949494 1px;
	box-shadow: 2px 2px 6px -1px #919191;
	max-width:80px;
	max-height:100px;
}

#my-trades article .need-details {
	width:250px;
	float:left;
	margin-right: 20px;
	border-right: 1px solid #ddd;
	padding-right: 10px;
}

#my-trades article .trade-info {
	display:inline-block;
	font-size:1.2em;
	vertical-align:top;
}

#my-trades article .trade-info p {
	margin-bottom:10px;
}

#my-trades article .action a {
	font-size:0.85em;
}

#my-trades .active-trades {
	margin-bottom:40px;
}

#my-trades .active-trades article h3 {
	background-color: #60964C;
}


/* user feedback */

.feedback {
	margin-right:10px;
	padding:5px 10px;
	border:1px solid #ddd;
	display:inline-block;
	vertical-align:top;
	margin-bottom:8px;
}

.feedback p {
	vertical-align:middle;
	display:inline-block;
	margin:0;
}

.feedback p.error {
	display:block;
	font-size: 0.8em;
}

.feedback form {
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
}

.feedback.active-trades .thumbs-up {
	margin-right:5px;
}

.feedback .thumbs-up, 
.feedback .thumbs-down {
	opacity: 0.8;
	cursor: pointer;
	width:25px;
}

.feedback .thumbs-up:hover,
.feedback .thumbs-down:hover {
	opacity:1;
}

#my-trades .pending-trades {
	margin-bottom:40px;
}

#my-trades .pending-trades article h3 {
	background-color:#8F8F8F;
}

#my-trades .trade-history article h3 {
	background-color:#513A6F;
}

#my-trades .incomplete-trades {
	margin-top:80px;
	margin-bottom:20px;
}

#my-trades .incomplete-trades h3 {
	text-align:center;
}

#my-trades .incomplete-trades h3 a {
	display:block;
	padding:12px;
	background:#eee;
	text-decoration: none;
	color:#361FAD;
}

#my-trades .incomplete-trades h3 a:hover {
	background:#e7e7e7;
}

#my-trades .incomplete-trades .trades {
	display:none;
}

#my-trades .incomplete-trades h2 span {
	font-size:0.8em;
}

#my-trades .incomplete-trades .trades article {
	background: #eee;
	margin-bottom: 0;
	padding: 5px 10px;
}

#my-trades .incomplete-trades .trades article:nth-child(even) {
	background: #E2E2E2;
}

#my-trades .incomplete-trades article h3 {
	background-color:none;
	text-align:left;
	color:#3c3c3c;
	padding:0;
}




/****************************************************************/
/***************** Trade Forms Common Styles ********************/
/****************************************************************/

.trade-form {
	padding:15px 25px;
	width:670px;
	overflow:hidden;
}

.trade-form .trade-details {
	background: #FCFCFC;
	padding: 10px 15px;
	border-radius:5px;
	margin-bottom:25px;
}

.trade-form .trade-details h3 {
	margin-bottom:5px;
}

.trade-form .trade-details p:last-child {
	margin-bottom:0;
}

.trade-form .trade-schedules {
	float:right;
}

.trade-form label {
	width: 190px;
	padding-bottom: 5px;
	font-weight:bold;
}

.trade-form #trade_note_time_1 {
	width:69px;
}

.trade-form #trade_note_time_2 {
	width:70px;
}

.trade-form #trade_note_place {
	width:156px;
}

.trade-form #trade_note_comment {
	width:361px;
}

/****************************************************************/
/********************Propose a Trade form ***********************/
/****************************************************************/


/********************************************************************/
/********************* Reject a Trade Form **************************/
/********************************************************************/


/*********************************************************************/
/*****************Accept a Trade Form ********************************/
/*********************************************************************/


/*********************************************************************/
/************************ Counter a Trade Form *************************/
/*********************************************************************/

/***************************************************/
/*************** form error ************************/
/***************************************************/

form .error {
	color:#F15656;
	display:block	
}

/**************** Schedule ****************/

.trade-schedules h3 {
	margin-bottom: 5px;
	font-size: 13px;
}

.day-planner table {
    border-collapse: collapse;
}

.day-planner th, td {
    padding: 0;
}

.day-planner .day {
     vertical-align: top;
     width: 30px;
     text-align: center;
}

.day-planner .hour {
      text-align: right;
      padding-right: 10px;
      border:none;
      vertical-align:top;
}

.day-planner tr:nth-child(2n+2) td:not(.hour) {
	border-bottom:1px solid #B8B8B8;
}

.day-planner tr:nth-child(2n+3) td {
	border-top:none;
}

.availTip {
	font-size:0.8em;
}

.day-planner td.time-slot {
	height: 4px;
    border: solid 1px #999;
}

.day-planner td.count-1:hover,
.day-planner td.count-2:hover,
.day-planner td.count-3:hover {
	background-color:#F5BA00;
}

.day-planner td.count-0 {
      background-color: #CCC;
}

.day-planner td.count-1 {
      background-color: #99CC99;
}

.day-planner td.count-2 {
      background-color: #77AA77;
}

.count-3 {
      background-color: #558855;
}
