// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/********************Create account section***************************/
/*********************************************************************/

/********************Create account Page ***************************/
/*********************************************************************/

#create-account #new_user {
	margin-bottom:30px;
}

#create-account #new_user >div {
	margin-bottom: 15px;
}

#create-account label {
	width:120px;
}

#create-account div .error {
	margin-left:5px
}

#create-account .field_with_errors {
	display:inline;
}

.error {
	color:#F15656;
	margin-bottom:15px;
}

#imgsection {
	float: right;
	margin-right: 100px;
}

.img {
	background-color: white;
	vertical-align: middle;	
}

.user_image {
	width: 205px;
	height: 205px;
	background-color: white;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	border: #CCC solid 1px;
	overflow: hidden;
	margin-top: 15px;
	line-height: 205px;	
	padding:10px;
}

/********************User Preferences Page (show.html.erb) ***************************/
/*********************************************************************/

#show-user h1 span {
	font-size:0.6em;
}

#show-user #user-info {
	margin-bottom:20px;
}

#show-user #avatar {
	float: right;
	clear: right;
	margin-right: 200px;
}

/******************Edit User Preference Page ***********************************/
/*******************************************************************************/

#edit-user label {
	width:180px;
}

#edit-user #choose-avatar-label {
	width:130px;
}

#edit-user input[type="text"],
#edit-user input[type="password"] {
	width:200px;
}

/*********************User Schedules Edit Page **********************/
/********************************************************************/

#edit-schedule #location-form,
#edit-schedule #results {
	margin-bottom:20px;
}

#edit-schedule #location-form label {
	margin-right:5px;
}

#edit-schedule #location-form .button {
	padding:4px 7px;
	margin-left:3px;
}

#edit-schedule #results ul {
	padding:12px;
}

#edit-schedule #results li {
	overflow:hidden;
	margin-bottom:5px;
	list-style: none; 
}

#edit-schedule #results li img {
	vertical-align:middle;
	margin-right: 5px;
}

#edit-schedule #schedules {
	margin-top:30px;
}

#edit-schedule #schedules article,
#show-user .schedule-info article {
	margin-bottom:30px;
}

#edit-schedule #schedules article .location,
#show-user .schedule-info article .location {
	margin-bottom:20px;
}

#edit-schedule #schedules article .location img,
#show-user .schedule-info article .location img {
	max-width:40px;
	height:auto;
	margin-right:5px;
	vertical-align:middle;
}

#edit-schedule #schedules article .location h2,
#show-user .schedule-info article .location h2 {
	display:inline-block;
}

#edit-schedule #schedules article .form {
	margin-bottom:15px;
}

#edit-schedule #schedules article .form label {
	margin-right:5px;
}

#edit-schedule #schedules article .form input[type="text"] {
	padding:5px;
	margin-right:10px;
}

#edit-schedule #schedules article .form input[type="text"]:last-child {
	margin-right:0;
}

#edit-schedule #schedules article .form .datepick {
	width:69px;
}


#edit-schedule #schedules article .form input[type="submit"] {
	border: none;
	background: #BBB;
	padding: 7px 8px;
	border-radius: 5px;
	text-transform: uppercase;
	cursor:pointer;
	margin-left:3px;
}

#edit-schedule #schedules article .form input[type="submit"]:hover {
	background:#ADADAD;
}

#edit-schedule #schedules article .times ul
#show-user .schedule-info article .times ul {
	margin-left:12px;
}

#edit-schedule #schedules article .times ul li,
#show-user .schedule-info article .times ul li {
	list-style:none;
}

/*********************Schedules Table *******************************/
/********************************************************************/

table {
    border-collapse: collapse;
}

th, td {
    padding: 0;
}

.day {
     vertical-align: top;
     width: 30px;
     text-align: center;
}

.hour {
      text-align: right;
      padding-right: 10px;
      padding-top: 0px;
}

.hour-div {
  margin-top: -6px;
  margin-bottom: 6px;
}

.available {
      height: 3px;
      border: solid 1px #999;
      background-color: #99CC99;
}

.unavailable {
      height: 3px;
      border: solid 1px #999;
      background-color: #CCC;
}
