// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/********************Create account section***************************/
/*********************************************************************/

/********************Create account Page ***************************/
/*********************************************************************/

#create-account #new_user {
	margin-bottom:30px;
}

#create-account #new_user >div {
	margin-bottom: 15px;
}

#create-account label {
	width:120px;
}

#create-account div .error {
	margin-left:5px
}

#create-account .field_with_errors {
	display:inline;
}

.error {
	color:#F15656;
	margin-bottom:15px;
}

#imgsection {
	float: right;
	margin-right: 100px;
}

.img {
	background-color: white;
	vertical-align: middle;	
}

#userimg {
	width: 205px;
	height: 205px;
	background-color: white;
	margin: auto;
	text-align: center;
	border-radius: 15px;
	border: black solid 1px;
	overflow: hidden;
	margin-top: 5px;
	line-height: 205px;	
}

/********************User Preferences Page (show.html.erb) ***************************/
/*********************************************************************/

#user-show #edit {
	float: right;
	margin-top: 8px;
	margin-left: 5px;
	font-size: 20px;
}

#user-show #avatar {
	float: right;
	clear: right;
	margin-right: 200px;
}

/*********************User Schedules Edit Page **********************/
/********************************************************************/

#edit-schedule form,
#edit-schedule #results {
	margin-bottom:20px;
}

#edit-schedule form label {
	margin-right:5px;
}

#edit-schedule form .button {
	padding:4px 7px;
}

#edit-schedule #results li {
	overflow:hidden;
	margin-bottom:5px;
	list-style: none; 
}

#edit-schedule #results li img {
	float: left;
	margin-right: 5px;
}