// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/********************Create account section***************************/
/*********************************************************************/

/********************Create account Page ***************************/
/*********************************************************************/

#create-account label {
	width:120px;
}

.error {
	color:#F15656;
	margin-bottom:15px;
}