<% @number = 1 %>
<% @inventory_needs.each do |x| %>
<div>
    <b>Book Name: </b><%= x.book.name %></br>
    <%= image_tag x.book.thumbnail %></br>
    Possible trades for this book: 
    <% if @book_hash[x.book_id].nil? %>
    0
    <% else %>
      <%= @book_hash[x.book_id].size %> 
    <% end %>
    <%= link_to "Show match details", "/match_details/" + x.book_id.to_s %>
    </br>
</div>
<% end %> 
</br>
</br>
</br>
</br>
</br>
</br>