<div id="wrapperheader">
	<header>
		
		<%= link_to image_tag("rebooklogosmall.png", :alt => "ReBook"), root_path %>
		<h1>Hi <%= session[:user_name] %>!</h1>
		<a href="/logout">Logout</a>
		
	</header>
</div>

<div id="wrappernavbar">
	<div id="navbar">
		<h2>My Matches  |  My Trades  |  Want List  |  Have List </h2>
	</div>
</div>